# Assignment_2

#### Anna Chen (yc4406)

## Part 1: Lists
#### 1) Create a list with the names of every planet in the solar system (in order) [note: Pluto is not a planet]
#### 2) Have Python tell you how many planets there are by examining your list
#### 3) Use slicing to display the first four planets (the rocky planets)
#### 4) Iterate through your planets and print the planet name only if it has an s at the end

In [1]:
l = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
l

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [2]:
len(l)

8

In [5]:
l[slice(4)]

['Mercury', 'Venus', 'Earth', 'Mars']

In [13]:
l[1]

'Venus'

In [15]:
for i in range(7):
    if l[i].endswith("s"):
        print(l[i])

Venus
Mars
Uranus

## Part 2: Functions
#### 1) Write a function to convert temperature from kelvin to celsius and celsius to kelvin

#### 2) Write a function to convert temperature to fahrenheit
##### Include an optional keyword argument to specify whether the input is in celcius or kelvin. Call your previously defined functions if necessary.

#### 3) Check that the outputs are sensible by trying a few examples

#### 4) Now write a function that converts from farenheit and uses a keyword argument to specify whether you want the output in celcius or kelvin

#### 5) Write a function that takes two arguments (feet and inches) and returns height in meters. Verify it gives sensible answers

#### 6) Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

#### 7) Verify that the “round trip” conversion from and back to meters is consistent. Check for 3 different values of height in meters

In [41]:
def kel_to_cel(temp):
    """ Convert temperature from kelvin to celsius """
    return str(round(temp-273.15, 2)) + 'ºC'
print(kel_to_cel(250))
print(kel_to_cel(300))

-23.15ºC
26.85ºC

In [39]:
def cel_to_kel(temp):
    """ Convert temperature from celsius to kelvin """
    return str(round(temp+273.15, 2)) + 'K'
print(cel_to_kel(25))
print(cel_to_kel(30))

298.15K
303.15K

In [40]:
def to_fah(temp, cel=False):
    """ Convert temperature in kelvin or celsius to fahrenheit """
    if cel:
        fah = str(round((temp*9/5 + 32), 2))
    else:
        temp = kel_to_cel(temp).replace('K', '')
        fah = str(round((float(temp)*9/5 + 32), 2))
    return fah + 'ºF'
to_fah(32, cel=False)

'-402.07ºF'

In [62]:
def ft_to_m(ft, inch):
    """ Convert feet and inches to meters """
    return str(round(float(ft/3.281 + inch/39.37),2)) + ' m'
print(ft_to_m(6,1))
print(ft_to_m(5,8))
print(ft_to_m(5,2))

1.85 m
1.73 m
1.57 m

In [60]:
import math
def m_to_ft(meters):
    """ Convert meters to feet and inches """
    return str(math.floor(meters*3.281)) + ' ft ' + str(int(round((meters*3.281-math.floor(meters*3.281))*12, 0))) + ' in'
print(m_to_ft(1.85))
print(m_to_ft(1.73))
print(m_to_ft(1.57))

6 ft 1 in
5 ft 8 in
5 ft 2 in